services:
  frontend-dev:
    container_name: frontend_dev
    image: node:20-alpine
    working_dir: /app
    command: sh -c "npm ci && npm run dev -- --host 0.0.0.0 --port 5173"
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    networks:
      - app-net
    restart: unless-stopped

networks:
  app-net:
    name: app-net
    external: true
