services:
  frontend:
    container_name: frontend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    networks:
      - app-net
    restart: unless-stopped
    env_file:
      - .env

networks:
  app-net:
    name: app-net
    external: true
