fastapi
uvicorn
pydantic
python-multipart
pdfminer.six>=20201018
PyPDF2>=3.0.1
celery[rabbitmq]
python-dotenv
sqlalchemy>=2.0.0
alembic>=1.13.0
psycopg2-binary>=2.9.0
python-dateutil>=2.8.0
sentence-transformers>=2.2.2
scikit-learn>=1.3.2
scipy>=1.11.4
nltk>=3.8.1
numpy>=1.24.0
torch>=2.0.0
spacy>=3.7.0
https://github.com/explosion/spacy-models/releases/download/ru_core_news_md-3.7.0/ru_core_news_md-3.7.0-py3-none-any.whl
